.new-todo-input {
  position: relative;
  height: 52px;
  padding: 0 25px;
}
.new-todo-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}

.new-todo-input input:focus,
.new-todo-input input.active {
  padding-left: 52px;
  border: 2px solid #f12711;
}

.new-todo-input input::placeholder {
  color: #bfbfbf;
}
